html {
    position: relative;
    height: 100%;
  }
  
  body {
    /* background-color: #f2f3f8 !important; */
    height: 100%;
  }

  app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
  }